<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-8 login-container">
                <img src="/assets/images/login-logo.png" alt="" style="display: block; margin: 0 auto">
                <p>BUDGET AND FLOW ENTRY TOOL</p>
            </div>

            <div class="col-xs-6 login-form-container">
                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" novalidate>
                    <div class="form-group" [ngClass]="{'has-error': username.invalid && (username.dirty || username.touched) && username.errors.required}">
                        <input type="text" class="form-control" name="username" placeholder="Username" formControlName="username" required>    
                        <div *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required" class="text-danger text-danger-position small">
                            Please enter your Username
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': password.invalid && (password.dirty || password.touched) && password.errors.required}">
                        <input type="password" class="form-control is-invalid" name="password" placeholder="Password" formControlName="password" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required" class="text-danger text-danger-position small">
                            Please enter your Password
                        </div>

                    </div>
                    <div class="form-group">
                        <div *ngIf="authFailMsg" class="text-danger text-danger-position small text-center">
                            Incorrect Username or Password
                        </div>
                        <button type="submit" class="login-btn-custom" [disabled]="loginForm.invalid">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>